html {

    background: beige;
    background-image: url(./images/bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content {
text-align: center;
}
body {
    text-align: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
   
 text-align: center;
}

.mapics {
    justify-content: space-between;
    display: flex;
    margin:10px 0 10px 0;

}