html {
    border :5px solid brown;
    background: beige;
    
}

.content {
text-align: center;
}
body {
    text-align: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;